<div class="container">
  <div class="row">
   <div class="col-xs-12 p-4">
          
 <button class="btn btn-info" (click)="onToggle()">Display Details</button>
      <!-- <button display="block" class="btn btn-primary" (click)="showSecret = !showSecret" >Display Details</button> -->
      <p *ngIf="showSecret">Secret Password = tuna</p>
 
      <div *ngFor="let log of logs; let i= index" [ngStyle]="{ backgroundColor:i%2===0 ? 'blue' :  'transparent' }" 
      [ngClass]="{'white-color':i%2===0}" >  
        {{ log }}
      </div>
   
    </div>
 
  </div>
</div>